.section {
  background-color: #0A0A0A;
  padding: 80px 20px;
  color: #171717;
  text-align: center;
  font-family: var(--font-inter);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  font-family: var(--font-poppins);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background-color: #111;
  color: white;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  text-align: left;
  font-family: var(--font-inter);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.icon {
  color: #00b000;
  font-size: 24px;
  flex-shrink: 0;
  margin-top: 4px;
}

/* Responsivo */
@media (max-width: 1024px) {
  .grid {
    gap: 16px;
  }

  .card {
    padding: 32px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .card {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 24px;
    font-size: 15px;
  }

  .icon {
    margin-bottom: 8px;
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .card {
    padding: 20px;
    font-size: 14px;
  }
}
