.section {
  background-color: #fefcf6;
  padding: 80px 20px;
  text-align: center;
  color: #171717;
  font-family: var(--font-inter);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  font-family: var(--font-poppins);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  background-color: #0a0a0a;
  color: white;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: left;
  font-size: 18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.icon {
  color: #00b000;
  font-size: 24px;
  flex-shrink: 0;
  margin-top: 4px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .item {
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    padding: 24px;
    gap: 12px;
  }

  .icon {
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .item {
    font-size: 14px;
    padding: 20px;
  }

  .icon {
    font-size: 20px;
  }
}
